<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oct.forestbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account"
            android:launchMode="singleTask" />
        <activity
            android:name=".Investment"
            android:launchMode="singleTask" />
        <activity
            android:name=".Bank"
            android:launchMode="singleTask" />
        <activity android:name=".Project" />
        <activity android:name=".LoginPerson" />
        <activity android:name=".RegisterPerson" />
        <activity android:name=".LoginGroup" />
        <activity android:name=".RegisterGroup" />
        <activity android:name=".HomePageGroup" />
        <activity android:name=".InvestmentGroup" />
        <activity android:name=".ProjectAdd" />
    </application>

</manifest>